DATABASE_URL="postgresql://neondb_owner:npg_xtA47ZuGFmJq@ep-damp-moon-acabefwx-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_ACCESS_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
PORT=4000
